#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<section class="ui middle aligned segment">
  <h1 class="ui primary center aligned header">About Weather Top Release 2</h1>
  <img class="ui large centered image" src="/public/images/about-weather.png">
  <h4>
    Weather Top Release 2 gives you a comprehensive overview of your weather station data. In this version, users can setup a personalised login, allowing them to view their individual weather stations from the Dashboard. This includes the ability to view specific weather data for each station, including:
    <ul>
  <li>
    Weather type (including helpful demo icons)
  </li>
  <li>
    Temperature (Celsius (min and max) and Fahrenheit)
  </li>
  <li>
    Wind Behaviour (Strength (min and max), Direction, Wind Chill)
  </li>
  <li>
    Pressure (min and max)
  </li>
</ul>
  Users can add new readings for each station (via each Station page), or add new stations (via the Dashboard).
  </h4>
</section>