#{extends 'main.html' /}
#{set title:'Station' /}

#{menu id:"${station.name} Station"/}
<section class="ui segment ">
    <div class="ui five column grid">
        <div class="black column">
            <h1>
                ${station.name}
            </h1>
        </div>
        <div class="column">
            <img class="ui small centered image" src="/public/images/weather.png">
            <h1 class="ui purple header">
                Weather
            </h1>
            <h3>${station.weatherType()}</h3>
            <img class="ui tiny centered image" src="/public/images/weather/${station.weatherType()}.png" }>

        </div>
        <div class="column">
            <img class="ui small centered image" src="/public/images/temperature.png">
            <h1 class="ui blue header">
                Temperature
            </h1>
            <h3>${station.celsius()}</h3>
            <h3>${station.fahrenheit()}</h3>
            <h3>${station.minTemp()}</h3>
            <h3>${station.maxTemp()}</h3>
            <img class="ui tiny centered image" src="/public/images/trends/${station.trendTemp()}.png" }>
            <h5 class="ui center aligned header">${station.trendTemp()}</h5>
        </div>
        <div class="column">
            <img class="ui small centered image" src="/public/images/wind.png">
            <h1 class="ui red header">
                Wind
            </h1>
            <h3>${station.windBeaufort()}</h3>
            <h3>${station.windDirection()}</h3>
            <h3>${station.windChill()}</h3>
            <h3>${station.minWind()}</h3>
            <h3>${station.maxWind()}</h3>
            <img class="ui tiny centered image" src="/public/images/trends/${station.trendWind()}.png" }>
            <h5 class="ui center aligned header">${station.trendWind()}</h5>
        </div>
        <div class="column">
            <img class="ui small centered image" src="/public/images/pressure.png">
            <h1 class="ui pink header">
                Pressure
            </h1>
            <h3>${station.pressure()}</h3>
            <h3>${station.minPress()}</h3>
            <h3>${station.maxPress()}</h3>
            <img class="ui tiny centered image" src="/public/images/trends/${station.trendPressure()}.png" }>
            <h5 class="ui center aligned header">${station.trendPressure()}</h5>
        </div>
    </div>
</section>

<section class="ui inverted blue segment">
    <h2 class="ui header">
        ${station.name}
    </h2>
    #{listreadings station:station /}
</section>

<section class="ui inverted grey segment">
    <h2>Add Reading</h2>
    <form class="ui stacked equal width form" action="/stations/${station.id}/addreading" method="POST">
        <div class="field">
            <div class="ui teal label">Code</div>
            <input placeholder="Code" type="text" name="code">
            <div class="ui teal label">Temperature</div>
            <input placeholder="Temperature" type="text" name="temperature">
            <div class="ui teal label">Wind Speed</div>
            <input placeholder="Wind Speed" type="text" name="windSpeed">
            <div class="ui teal label">Wind Direction</div>
            <input placeholder="Wind Direction" type="text" name="windDirection">
            <div class="ui teal label">Pressure</div>
            <input placeholder="Pressure" type="text" name="pressure">
        </div>
        <button class="ui blue submit button">Add Reading</button>
    </form>
</section>